<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80606991-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-80606991-2');
    </script>
    <meta charset="utf-8"/>
    <title>HypeIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/main.css">
</head>
<body>

{{> header (object user=user) }}

<div class="contentBoxApp">


    <div class="container dynamic-grid">
        {{# if (cmp url '===' '/bookmarked')}}
            <div class="filters">
                <p class="total-posts">({{totalPosts}})</p>
            </div>
        {{else}}
            <div class="filters">
                <a href="/?bestof=1" {{#if (cmp queryParams.bestof '===' 1)}}class="link-active"{{/if}}>Day</a>
                <a href="/?bestof=7" {{#if (cmp queryParams.bestof '===' 7)}}class="link-active"{{/if}}>Week</a>
                <a href="/?bestof=30"{{#if (cmp queryParams.bestof '===' 30)}}class="link-active"{{/if}}>Month</a>
                <p class="total-posts">({{totalSeenPosts}}/{{totalPosts}})</p>
            </div>
        {{/if}}


        {{#each posts}}
            <article class="grid-item content-box">
                <div class="inner">
                    <h1 class="content-box-header">
                        <a class="content-box-header__link" href={{link}} target="_blank" rel="noopener">
                            <img class="post-header__img" src="{{ get ../resources resources_id }} "/>
                            {{title}}
                        </a>

                        {{#if ../user}}
                            <div class="js_bookmark-container clearfix bookmark-container" data-postId="{{posts_id}}"
                                 data-bookmarked="{{bookmarked}}">
                                <svg class="bookmark-icon bookmark-icon--false" aria-hidden="true" focusable="false"
                                     data-prefix="far"
                                     data-icon="bookmark" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z">
                                    </path>
                                </svg>
                                <svg class="bookmark-icon bookmark-icon--true" aria-hidden="true" focusable="false"
                                     data-prefix="fas"
                                     data-icon="bookmark" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path d="M0 512V48C0 21.49 21.49 0 48 0h288c26.51 0 48 21.49 48 48v464L192 400 0 512z">
                                    </path>
                                </svg>
                                <svg class="bookmark-icon bookmark-icon--loading fa-spin"
                                     aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner"
                                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                            d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
                                    </path>
                                </svg>
                            </div>
                        {{/if}}

                        <p class="cbh__time">
                            {{rating}}
                            <img class="cbh__time__image"
                                 src="https://www.searchpng.com/wp-content/uploads/2019/02/Instagram-Like-Icon-1-1024x1024.png">
                            {{moment time}}
                        </p>
                    </h1>
                    <img class="content-box-thumb" src="{{ imageLink }}"/>

                </div>
            </article>
        {{/each}}

    </div>

    {{# if (cmp url '!==' '/bookmarked')}}
        <div class="pagination_block">
            {{#if user}}
                <a href="{{ extendQuery isNextPage=true}}">Next >>> </a>
            {{else}}
                {{#if (cmp currentPage '>' 1)}}
                    <a href="{{ extendQuery page=(math currentPage '-' 1) }}"> <<< </a>
                {{/if}}
                <span class="pagination_block__page">{{ currentPage }}</span>
                <a href="{{ extendQuery page=(math currentPage '+' 1) }}"> >>> </a>
            {{/if}}
        </div>
    {{/if}}
</div>

<script>
    document.querySelectorAll('.js_bookmark-container').forEach(el => {
        el.addEventListener('click', function() {

            const bookmarkedStates = {
                true: 'true',
                false: 'false',
                loading: 'loading',
            };

            const parseBool = {
                [bookmarkedStates.true]: true,
                [bookmarkedStates.false]: false,
            };

            const bookmarked = this.getAttribute('data-bookmarked');

            if (!(bookmarked in parseBool)) {
                throw new TypeError(`Unknown bookmarked type: ${bookmarked}`);
            }

            if (bookmarked === bookmarkedStates.loading) {
                return;
            }

            this.setAttribute('data-bookmarked', bookmarkedStates.loading);

            fetch('/posts/bookmark', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    postId: this.getAttribute('data-postId'),
                    bookmark: !parseBool[bookmarked],
                }),
            }).then(() => {
                this.setAttribute('data-bookmarked', !parseBool[bookmarked]);
            }).catch((e) => {
                console.error(e);
                this.setAttribute('data-bookmarked', parseBool[bookmarked]);
            });
        });
    });
</script>

</body>
</html>
