<!DOCTYPE html>
<html>
<head>
    {{> main_head }}
</head>
<body>

{{> header (object user=user url=url) }}

<div class="contentBoxApp">


    <div class="container dynamic-grid">

        {{#if events}}
            <article class="grid-item content-box scrollable-events">
                <div class="inner">
                    <div class="align-center">
                        <span class="event-header">{{events.length}} Events in 2 week</span>
                        <br>
                        <span class="event-card__time">Today is {{ moment undefined 'D ddd' }}</span>
                    </div>

                    {{#each events}}
                        <div class="event-card">
                            {{#if ../user}}
                                <div class="event-hide-icon-container"
                                     data-locator="hide-event-container"
                                     data-eventId="{{event_id}}"
                                     data-hidden="false">
                                    <svg aria-hidden="true"
                                         focusable="false"
                                         data-prefix="fal"
                                         data-icon="eye-slash"
                                         role="img"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 640 512"
                                         class="main-icon event-hide-icon event-hide-icon--false">
                                        <path fill="currentColor"
                                              d="M637 485.25L23 1.75A8 8 0 0 0 11.76 3l-10 12.51A8 8 0 0 0 3 26.75l614 483.5a8 8 0 0 0 11.25-1.25l10-12.51a8 8 0 0 0-1.25-11.24zM320 96a128.14 128.14 0 0 1 128 128c0 21.62-5.9 41.69-15.4 59.57l25.45 20C471.65 280.09 480 253.14 480 224c0-36.83-12.91-70.31-33.78-97.33A294.88 294.88 0 0 1 576.05 256a299.73 299.73 0 0 1-67.77 87.16l25.32 19.94c28.47-26.28 52.87-57.26 70.93-92.51a32.35 32.35 0 0 0 0-29.19C550.3 135.59 442.94 64 320 64a311.23 311.23 0 0 0-130.12 28.43l45.77 36C258.24 108.52 287.56 96 320 96zm60.86 146.83A63.15 63.15 0 0 0 320 160c-1 0-1.89.24-2.85.29a45.11 45.11 0 0 1-.24 32.19zm-217.62-49.16A154.29 154.29 0 0 0 160 224a159.39 159.39 0 0 0 226.27 145.29L356.69 346c-11.7 3.53-23.85 6-36.68 6A128.15 128.15 0 0 1 192 224c0-2.44.59-4.72.72-7.12zM320 416c-107.36 0-205.47-61.31-256-160 17.43-34 41.09-62.72 68.31-86.72l-25.86-20.37c-28.48 26.28-52.87 57.25-70.93 92.5a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448a311.25 311.25 0 0 0 130.12-28.43l-29.25-23C389.06 408.84 355.15 416 320 416z"
                                              class="">
                                        </path>
                                    </svg>

                                    <svg class="main-icon event-hide-icon fa-spin event-hide-icon--loading"
                                         aria-hidden="true"
                                         focusable="false"
                                         data-prefix="fas"
                                         data-icon="spinner"
                                         role="img"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 512 512">
                                        <path
                                                d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
                                        </path>
                                    </svg>

                                    <span class="event-hide-icon event-hide-icon--true"></span>
                                </div>
                            {{/if}}
                            <div class="event-card__time">
                                {{ moment time 'D ddd' }}
                                <br>
                                {{ moment time 'MMMM HH:mm' }}
                            </div>
                            <div class="event-card__title">
                                <a href="{{ link }}" target="_blank" rel="noopener">{{ title }}</a>
                            </div>
                        </div>
                    {{/each}}

                </div>
            </article>
        {{/if}}

        {{# if (cmp url '===' '/bookmarked')}}
            <div class="filters">
                <p class="total-posts">({{totalPosts}})</p>
            </div>
        {{else}}
            <div class="filters">
                <a href="/?bestof=1"
                   class="filters__link {{#if (cmp queryParams.bestof '===' 1)}}filters__link--active{{/if}}">Day</a>
                <a href="/?bestof=7"
                   class="filters__link {{#if (cmp queryParams.bestof '===' 7)}}filters__link--active{{/if}}">Week</a>
                <a href="/?bestof=30"
                   class="filters__link {{#if (cmp queryParams.bestof '===' 30)}}filters__link--active{{/if}}">Month</a>
                <p class="total-posts">({{totalSeenPosts}}/{{totalPosts}})</p>
            </div>
        {{/if}}


        {{#each posts}}
            <article class="grid-item content-box">
                <div class="inner">
                    <h1 class="content-box-header">
                        <img class="post-header__img" src="{{ get ../resources resources_id }}"/>

                        {{#if (cmp resources_id '===' 2)}}
                            <a href="/redirect?postId={{posts_id}}&redirectType=HTMLPROXY" target="_blank"
                            rel="noopener">=></a>
                        {{/if}}

                        <a class="content-box-header__link"
                           href="/redirect?postId={{posts_id}}"
                        target="_blank"
                        rel="noopener">
                        {{title}}
                        </a>

                        {{#if ../user}}
                            <div class="clearfix bookmark-container"
                                 data-locator="bookmark-container"
                                 data-postId="{{posts_id}}"
                                 data-bookmarked="{{bookmarked}}">
                                <svg class="bookmark-icon bookmark-icon--false"
                                     aria-hidden="true"
                                     focusable="false"
                                     data-prefix="far"
                                     data-icon="bookmark"
                                     role="img"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 384 512">
                                    <path d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z">
                                    </path>
                                </svg>
                                <svg class="bookmark-icon bookmark-icon--true"
                                     aria-hidden="true"
                                     focusable="false"
                                     data-prefix="fas"
                                     data-icon="bookmark"
                                     role="img"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 384 512">
                                    <path d="M0 512V48C0 21.49 21.49 0 48 0h288c26.51 0 48 21.49 48 48v464L192 400 0 512z">
                                    </path>
                                </svg>
                                <svg class="bookmark-icon bookmark-icon--loading fa-spin"
                                     aria-hidden="true"
                                     focusable="false"
                                     data-prefix="fas"
                                     data-icon="spinner"
                                     role="img"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512">
                                    <path
                                            d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
                                    </path>
                                </svg>
                            </div>
                        {{/if}}
                        <p class="cbh__time"> {{#each tags}}
                            <a href="/?bestof=30&tagName={{this}}">#{{this}}</a> {{/each}}</p>
                        <p class="cbh__time">
                            {{rating}}
                            <img class="cbh__time__image"
                                 src="https://www.searchpng.com/wp-content/uploads/2019/02/Instagram-Like-Icon-1-1024x1024.png">
                            {{moment time 'LLL'}}
                        </p>
                    </h1>
                    <img class="content-box-thumb" src="{{ imageLink }}"/>

                </div>
            </article>
        {{/each}}

    </div>

    {{# if (cmp url '!==' '/bookmarked')}}
        <div class="pagination_block">
            {{#if user}}
                <a href="{{ extendQuery isNextPage=true}}">Next >>> </a>
            {{else}}
                {{#if (cmp currentPage '>' 1)}}
                    <a href="{{ extendQuery page=(math currentPage '-' 1) }}"> <<< </a>
                {{/if}}
                <span class="pagination_block__page">{{ currentPage }}</span>
                <a href="{{ extendQuery page=(math currentPage '+' 1) }}"> >>> </a>
            {{/if}}
        </div>
    {{/if}}
</div>

<script>
    document.querySelectorAll('[data-locator="bookmark-container"]').forEach(el => {
        el.addEventListener('click', function() {

            const bookmarkedStates = {
                true: 'true',
                false: 'false',
                loading: 'loading',
            };

            const parseBool = {
                [bookmarkedStates.true]: true,
                [bookmarkedStates.false]: false,
            };

            const bookmarked = this.getAttribute('data-bookmarked');

            if (!(bookmarked in parseBool)) {
                throw new TypeError(`Unknown bookmarked type: ${bookmarked}`);
            }

            if (bookmarked === bookmarkedStates.loading) {
                return;
            }

            this.setAttribute('data-bookmarked', bookmarkedStates.loading);

            fetch('/posts/bookmark', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    postId: this.getAttribute('data-postId'),
                    bookmark: !parseBool[bookmarked],
                }),
            }).then(() => {
                this.setAttribute('data-bookmarked', !parseBool[bookmarked]);
            }).catch((e) => {
                console.error(e);
                this.setAttribute('data-bookmarked', parseBool[bookmarked]);
            });
        });
    });

    document.querySelectorAll('[data-locator="hide-event-container"]').forEach(el => {
        el.addEventListener('click', function() {

            const STATES = {
                true: 'true',
                false: 'false',
                loading: 'loading',
            };

            const parseBool = {
                [STATES.true]: true,
                [STATES.false]: false,
            };

            const state = this.getAttribute('data-hidden');

            if (!(state in parseBool)) {
                throw new TypeError(`Unknown bookmarked type: ${state}`);
            }

            if (state === STATES.loading || state === STATES.true) {
                return;
            }

            this.setAttribute('data-hidden', STATES.loading);

            fetch('/events/hide', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    eventId: this.getAttribute('data-eventId'),
                    hide: !parseBool[state],
                }),
            }).then(() => {
                this.setAttribute('data-hidden', !parseBool[state]);
            }).catch((e) => {
                console.error(e);
                this.setAttribute('data-hidden', parseBool[state]);
            });
        });
    });
</script>

</body>
</html>
